
@import "tailwindcss";

:root {
  background-color: #040714;
}

main,
.page-container {
  padding-top: 80px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}